body {
  background-color: #F6F0FE;
  color: #13022B;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 40px;

}

h2 {
  color: #13022B;
  font-weight: bolder;
}

a {
  text-decoration: none;
  font-weight: bold;
  color:#FFFFFF;

}

#btn:hover {
  opacity: 0.7;

}

.card_white {
  background-color: #FFFFFF;
  width: 500px;
  padding: 45px;
  margin: 20px auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;

}

#img-circle {
  border-radius: 50%;
}

#btn {
  background: rgb(109, 0, 219);
  padding: 15px 15px;
  border-radius: 4px;
  margin-top: 10px;
  display: inline-block;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

#list_inline {
  list-style: none;
  padding-left: 0;
}

#list_inline li {
  display: inline;
  padding: 10px;
}

#list_inline i {
  font-size: 25px;
  color: rgb(101, 95, 122);
}


